<div id="<%= dom_id trip %>">
  <p>
    <strong>Title:</strong>
    <%= trip.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trip.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= trip.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= trip.end_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= trip.duration %>
  </p>

</div>
