<div id="<%= dom_id user %>">
  <p>
    <strong>Firstname:</strong>
    <%= user.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user.lastName %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.userName %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= user.location %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= user.position %>
  </p>

</div>
