<div style="color: white"><%= notice %></div>

<% if logged_in? %>
  <%= tag.h2 "Hello #{current_user.firstName}", style: "color: white" %>
  <!--  TODO: add logout path and delete method -->
  <%= link_to 'Logout', logout_path %>
<% end %>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
